@{
    ViewBag.Title = "Home Page";
}

@section Nav {
    @Html.Partial("_NavHome");
}

@Styles.Render("~/Content/tippy.css")

@Scripts.Render("~/Scripts/Index.js")
@Scripts.Render("~/Scripts/zxcvbn.js")
@Scripts.Render("~/Scripts/tippy.js")

<main>
    <section id="huge" class="sect-index">
        <h1>Organize your life<span style="color:#EDA831;">.</span></h1>
        <p>Application Security Project, Y2S2.</p>
        <a class="button button-black getstarted">Get started</a>
    </section>
    <section class="move sect-index">
        <img src="https://p9cdn4static.sharpschool.com/UserFiles/Servers/Server_791028/Image/News-Announcements/calendar.jpg" />
        <div>
            <h2>Calendar</h2>
            <p>Add, modify and delete events. Publish events so that others can inport into their personal calendar</p>
            <a class="button" asp-page="/Account/Login">Start organizing</a>
        </div>
    </section>
    <section class="move sect-index">
        <img src="https://ctl.s6img.com/society6/img/sZQo2aAEX509Qy9DWyl2BcvuYzc/w_700/notebooks/lined/~artwork,fw_3675,fh_2475,fy_-1420,iw_3675,ih_5314/s6-original-art-uploads/society6/uploads/misc/68c56c78669241128a38139c61d9012e/~~/ghost-aesthetic-notebooks.jpg" />
        <div>
            <h2>Notes</h2>
            <p>Have things to say? Put your words down with Notes, and never forget a word again.</p>
            <a class="button" asp-page="/Account/Login">Start writing</a>
        </div>
    </section>
    <footer>
        <div>aeaeaaaee</div>
    </footer>
</main>